<!DOCTYPE html>
<html>
    <head>
        <title>About Notepad</title>
        <link href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans|Merriweather:300" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div id="wrapper">
            <nav>
                <a href="/">Share Something</a>
                <a class="selected" href="/about">About Notepad</a>
                <a href="/api">RESTful API</a>
            </nav>
            <header>
                <h1>About Notepad</h1>
            </header>
            <aside>
                <p>
                    Notepad is a lightweight copy-paste/code snippet/whatever you want host built using Node.js for its native async support and LevelDB for it's simple yet performant key-value storage.
                </p>
                <p>
                    Notepad respects your privacy and doesn't doesn't keep any logs. Feel free to share as much as you want (within reason). The current rate-limit on sharing is 15 POST requests every 60 seconds.
                </p>
                <p>
                    Want to help contribute? Notepad is open source! Feel free to fork it over at <a href="https://github.com/WildAndrewLee/Notepad">Github</a>.
                </p>
            </aside>
        </div>
    </body>
</html>
