<!DOCTYPE html>
<html>
    <head>
        <title>About Notepad</title>
        <link href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans|Merriweather:300" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>About Notepad</h1>
            </header>
            <aside>
                <p>
                    Notepad is a lightweight copy-paste, code snippet, whatever you want host. Technologies we love are Node.js for its native async support and LevelDB for it's simple yet performant key-value storage.
                </p>
                <p>
                    Everything you do on Notepad is completely anonymous. We don't keep any logs (except to rate-limit you of course). The current rate-limit on code sharing is 15 POST request every 60 seconds.
                </p>
            </aside>
            <header>
                <h1>Notepad API Documentation</h1>
                <p>
                    Notepad utilizes a RESTful API. The API's routes are as follows:
                </p>
            </header>
            <aside>
                <h2>Share Code</h2>
                <p>
                This endpoint allows you to share things on Notepad and returns a JSON object on success. The <span class="code">snowflake</span> attribute is an identifier used to lookup whatever you're sharing.
                <pre><code>POST /share HTTP/1.1
Content-Type: multipart/form-data
Response-Type: application/json
Payload: code=[string]</code></pre>
                <h3>Example Call</h3>
                <pre><code>curl -F "code=$(cat snippet.js)" https://notepad.somoe.moe/share</code></pre>
                <h3>Example Response</h3>
                <pre><code>{
    "snowflake": [string]
}</code></pre>
        </div>
    </section>
    </body>
</html>
