<!DOCTYPE html>
<html>
    <head>
        <title>Viewing Submission: {{ snowflake }}</title>
        <link href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/github-gist.min.css">
        <link rel="stylesheet" href="/css/code.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
    </head>
    <body>
        <pre><code>{{ code }}</code></pre>
        <script src="/js/code.js"></script>
    </body>
</html>
