html, body {
    height: 100%;
    color: #333333;
    line-height: 15px;
}

pre, code {
    font-size: 13px !important;
    font-family: "Inconsolata" !important;
    min-height: 100%;
}

pre {
    margin: 0px;
    display: flex;
    flex-flow: row;
}

code {
    flex: 1 1 auto;
    padding: 4px 4px 4px 4px !important;
}

#line_numbers {
    margin: 0px;
    padding: 4px 0px 4px 0px;
    flex: 0 1 auto;
    background: #FCFCFC;
    border-right: 1px solid #E2E2E2;
    color: #AAAAAA;
}

#line_numbers li {
    display: block !important;
    text-align: right !important;
    padding: 0px 4px 0px 16px;
    margin: 0px;
    cursor: pointer;
}

#line_numbers li:hover {
    color: #333333;
}

#line_numbers li.highlighted {
    background: #4798C6;
    color: #FFFFFF;
    position: relative;
}

#line_numbers li.highlighted:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -1px;
    bottom: 0px;
    width: 3px;
    background: #417C9E;
}
